 


<% @page_title = "All Subjects" %>

<div class ="sectuibs index" >
		<h2>Sections</h2>
 			<%= link_to("Add New section", new_section_path, :class => 'action new') %>
 	<table class ="listing" summary="section list">
 		<tr class="header">
 			<th>#</th>
 			<th>Page ID</th>
 			<th>Section</th>
 			<th>visible</th>
 			<th>Actions</th>
 		</tr>
 	   	  <% @sections.each do |subject| %>
 			<tr>
 				<td><%= section.position %> </td>
 				<td><%= section.page_id %></td>
 				<td><%= section.name %></td>
 				<td class="center"><%= status_tag(subject.visible)  %></td>
 				 <td class="actions">
 					<%= link_to("Show", section_path(subject), :class => 'action show') %>
 					<%= link_to("Edit", edit_section_path(subject), :class => 'action edit') %>
 					<%= link_to("Delete",  delete_section_path(subject), :class => 'action delete') %>
 				</td>
 			</tr> 
 		  <% end %>
 	
 	</table>
 </div>