 

<%= link_to("<< Back to list", pages_path, :class => 'back-link') %>
 <div class = "page show">
   <h2> Show page</h2>
 	<table summary = "Page detail view">
 		<tr>
	 			<th>Name</th>
	 			<td><%= @page.name %></td>
 		</tr>
 		<tr>
	 			<th>subject_Id</th>
	 			<td><%= @page.subject_id %></td>
 		</tr>
 		<tr>
 				<th>parmalink</th>
 				<td><%= @page.parmalink  %></td>

 		</tr>
 		<tr>
 				<th>Position</th>
 				<td><%= @page.position %></td>
 		</tr>
 		<tr>
 				<th>visible?</th>
 				<td><%= @page.visible ? 'yes' : 'no' %></td>
 		</tr>
 		<tr>
 				<th>Created</th>
 				<td><%= @page.created_at %></td>
 		</tr>
 		<tr>
 				<th>Updated</th>
 				<td><%= @page.updated_at %></td>
 		</tr>
 	</table>
 </div>