<% @page_name = "All Admin Usrs" %>

<%= link_to("<< Back to Menu", admin_path, :class => 'back_link') %>
<div class ="admin-users index" >
		<h2>Users</h2>
			<%#= image_tag('doctor.jpg' , :size => '1*1' , :alt => '+') %>
 			<%= link_to("Add New Admin User", new_admin_user_path, :class => 'action new') %>
 	<table class ="listing" summary="Admin users list">
 		<div><%= pluralize(@admin_users.size , ('admin user')) %> found </div>
 		<tr class="header">
 			<th>Name</th>
 			<th>Username</th>
 			<th>Email</th>
 			<th>Actions</th>
 		</tr>
 	   	  <% @admin_users.each do |admin_user| %>
 			<tr>
 				<td><%= admin_user.name %> </td>
 				<td><%= admin_user.username %></td>
 				<td><%= mail_to(admin_user.email) %></td>
 				<td class="center"><%#= status_tag(subject.visible) %></td>
 				<td class="center"><%#= subject.pages.size %></td>
 				<td class="actions">
 					<%#= link_to("Show", subject_path(subject), :class => 'action show') %>
 					<%= link_to("Edit", edit_admin_user_path(admin_user), :class => 'action edit') %>
 					<%= link_to("Delete",  delete_admin_user_path(admin_user), :class => 'action delete') %>
 				</td>
 			</tr>
 		  <% end %>
 	
 	</table>
 </div>
